.shown {
	display: inline-block;
}

.hidden {
	display: none;
}

.movingArrows {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 30;
	opacity: 0.1;
	color: #fff;
	-webkit-transition:opacity 0.3s ease;
	-moz-transition:opacity 0.3s ease;
	-ms-transition:opacity 0.3s ease;
	-o-transition:opacity 0.3s ease;
	transition:opacity 0.3s ease
}

.movingArrows div {
	width: 200px;
	height: 200px;
	top: 0;
	left: 0;
	font-size: 200px;
	line-height: 200px;
	position: absolute;
	margin: 0;
	padding: 0;
}

.movingArrows:hover {
	opacity: 1;
}


#upMove {
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);	
}
#upMove:before {
	content: "⇑";
}
#leftMove {
	top: 50%;
	left: 0;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
#leftMove:before {
	content: "⇐";
}
#rightMove {
	top: 50%;
	left: 100%;
	-webkit-transform: translate(-100%, -50%);
	-moz-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	-o-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}
#rightMove:before {
	content: "⇒";
}
#downMove {
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
	-moz-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	-o-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);	
}
#downMove:before {
	content: "⇓";
}
#leftMerge {
	top: 100%;
	left: 0;
	-webkit-transform: translate(0%, -100%);
	-moz-transform: translate(0%, -100%);
	-ms-transform: translate(0%, -100%);
	-o-transform: translate(0%, -100%);
	transform: translate(0%, -100%);
}
#leftMerge:before {
	content: "⇚";
}
#rightMerge {
	top: 100%;
	left: 100%;
	-webkit-transform: translate(-100%, -100%);
	-moz-transform: translate(-100%, -100%);
	-ms-transform: translate(-100%, -100%);
	-o-transform: translate(-100%, -100%);
	transform: translate(-100%, -100%);
}
#rightMerge:before {
	content: "⇛";
}